<!-- Header section for all pages -->
<header>
  <h1>
    Sweet Treats
  </h1>
  <!-- Mobile Navigation -->
  <div class="mobile-nav"></div>
  <!-- desktop navigation -->
  <nav>
    <div class="close"></div>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/login">Login</a></li>
      <li><a href="/register">Register</a></li>
    </ul>
  </nav>
</header>