<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Head partial -->
  <%- include('../partials/head') %>
</head>

<body>
  <!-- Header -->
  <!-- Header partial -->
  <%- include('../partials/header') %>
  <!-- Main sectiom -->
  <main>
    <!-- Page not Found -->
  <article class="error-page">
    <section>
      <h1>404</h1>
      <h2>Oops! Page Not Found</h2>
      <p>We're sorry, the page you requested is not found. Please go back to home page.</p>
    </section>
    
</article>
  </main>
  <!-- Footer partial -->
  <%- include('../partials/footer') %> 

</body>

</html>