<!DOCTYPE html>
<html lang="en">
<head>
  <!-- head partial -->
  <%- include('../partials/head') %>
</head>

<body>
  <!-- Header -->
  <!-- Header partial -->
  <%- include('../partials/header') %>
  <!-- Main sectiom -->
  <main>
  
  </main>
  <!-- Template for Dynamic Image Gallery -->
  <template id="image-template">
    <figure>
      <a href=""><img src="" alt=""></a>
      <a href="">
        <figcaption>
          <h5></h5>
          <p></p>
          <span></span>
        </figcaption>
    </a>
    </figure>
  </template>
  <!-- Footer partial -->
  <%- include('../partials/footer') %> 

</body>

</html>